.form {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  justify-content: space-between;
}

.btnContainer {
}

.inputLabel {
  font-size: 12px;
  display: block;
  margin-bottom: 0.51rem;
}

.inputSelect {
  width: 100%;
  padding: 1rem;
  background-color: aliceblue;
  margin-bottom: 0.71rem;
}

.inputSelect:focus {
  outline: none;
}
